
<div id="<%= dom_id product %>" class="p-tbody-tr">
  <p>
    <%= product.name %>
  </p>

  <p>
    <%= product.full_name %>
  </p>

  <p>
    <%= product.price %>
  </p>

  <p>
    <%= product.description %>
  </p>

  <p>
    <%= product.production_date %>
  </p>

  <p>
    <%= product.guarantee %>
  </p>

  <p>
    <%= product.producer_id %>
  </p>
  <%= turbo_frame_tag 'product' do %>
      <%= render 'products/t', product: product %>
  <% end %>
  <p class="products-link">
    <%= link_to "Ссылка на продукт", product %>
  </p>
</div>
